
:root{

    --cor-principal: #FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-do-botao:#167BF7;
    --cor-do-fundo:#00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #8030f1;
    --botao-azul-border-color: #f3205f;
}    

body {

    background-color: var(--cor-do-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
}

.principal{

    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{

    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{

    background-color: var(--cor-do-botao);
    border-radius: 5px;
    color: var(--cor-principal);
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__caixa{

    margin: 0 6em;
}

.caontainer__titulo{

    font-size: 28px;
    font-weight: 700;
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__imagem{

    margin: 1em 0 2em 0;
}

.container__aviso{

    font-size: 12px;
    color: var(--cor-secundaria);
}

.secundario__imagem{

    width: 80%;
}

.secundario{

    align-items: center;
    margin: 0 5em;
}

.descricao__titulo{

    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 0 1em;
}

.descricao__texto{

        color: var(--cor-secundaria);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{

    padding: 2em;
}

.dispositivos__lista{

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos{

    text-align: center;
    color: var(--cor-principal);
}

.dispositivos__titulo{

    font-size: 48px;
    color: var(--cor-principal);
}

.lista__itens{

    font-size: 32px;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}
.rodape__lista{

    display:flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    list-style-type: none;

   
}

.lista__link a{

    margin-left: 1em;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 16px;
}

.rodape__texto{

    margin: 2em 0;
    color: var(--cor-secundaria);
    font-size: 14px;
}

.rodape__lista{

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a:hover{

    color: var(--cor-do-botao);
}

.lista__link a:active{
    color: deeppink;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    border-color: var(--botao-azul-border-color);
}

*{
    margin: 0;
    padding: 0;

}






